.container {
  width: 100%;
  height: 100%;
  background: white;
}

.name {
  font-family: 'Ubuntu', sans-serif;
  font-size: 450%;
  text-align: center;
  padding-bottom: .25em;
}

.about {
  font-family: 'Ubuntu', sans-serif;
  font-size: 140%;
  max-width: 32.5em;
  text-rendering: optimizeLegibility;
}

.contact {
  font-size: 500%;
  text-align: center;
  max-width: 7.5em;
}

.about a, .contact a {
  text-decoration: none!important;
  -webkit-transition: opacity ease-in-out;
  -moz-transition: opacity ease-in-out;
  -o-transition: opacity ease-in-out;
  transition: opacity ease-in-out;
}

.navbar {
  vertical-align: middle;
  width: 40%;
}

.navbar-nav > li > a, .navbar-brand {
    padding-top:5px !important; padding-bottom:0 !important;
    height: 32px;
}
.navbar {min-height:32px !important;}

.nav-tabs {
  padding-right: 0;
}

.nav-tabs > li, .nav-pills > li {
  float:none;
  display:inline-block;
  *display:inline; /* ie7 fix */
  zoom:1; /* hasLayout ie7 trigger */
}

.nav-tabs, .nav-pills {
    text-align:center;
}

.jumbotron {
  background-color: transparent !important;
  padding-bottom: 0;
}

a:hover {
  background: none;
  opacity: 0.75;
}
